.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #9783f0;
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;
}

.signupBox {
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #9783f0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot {
    text-align: center;
    color: #9783f0;
}

.loginRegisterButton {
    margin-top: 10px;
    margin-left: 110px;
    width: 50%;
    align-self: center;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #9783f0;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}