
.topbarPanel{
    height: 50px;
    width: 100%;
    background-color: #9783f0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 90%;
}

.searchInput:focus{
    outline: none;
}

.topLeft{
    flex: 3
}

.topCenter{
    flex: 5
}

.rank{
    font-size: 30px !important;
    cursor: pointer;
    color:rgb(240, 82, 9);
    background-color: white;
    border-radius: 30px;
}

.PersonIcon{
    color: white;
    font-size: 25px !important;
    cursor: pointer;
    margin-left: 200px;
}

.username{
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.topRight{
    flex: 4;
    display: flex;
    align-items: center;
}
