.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchInput{
    margin-left: 15px;
}

.searchIcon{
    margin-right: 15px;
    cursor: pointer;
}